.navbar .allservices .servicesList .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 3px 25px;
    border: 4px solid;
    border-color: transparent;
    font-size: 30px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 700;
    color: rgb(135, 251, 255);
    box-shadow: 0 0 0 2px rgb(202, 149, 255);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar .allservices .servicesList .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(103, 187, 255);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar .allservices .servicesList .animated-button .arr-1 {
    right: 7px;
}

.navbar .allservices .servicesList .animated-button .arr-2 {
    left: -25%;
}

.navbar .allservices .servicesList .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: linear-gradient(74deg, #81b1ff, #b77cfb, #ff818e, #c18bff, #3a85ff);
    background-size: 200%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar .allservices .servicesList .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar .allservices .servicesList .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.navbar .allservices .servicesList .animated-button:hover .arr-1 {
    right: -25%;
}

.navbar .allservices .servicesList .animated-button:hover .arr-2 {
    left: 7px;
}

.navbar .allservices .servicesList .animated-button:hover .text {
    transform: translateX(12px);
}

.navbar .allservices .servicesList .animated-button:hover svg {
    fill: #212121;
}

.navbar .allservices .servicesList .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(202, 149, 255);
}

.navbar .allservices .servicesList .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}



.navbar .allservices .servicesList .serviceItem .glowbtn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;

}

.navbar .allservices .servicesList .serviceItem .glowbtn:active {
    scale: 0.92;
}

.navbar .allservices .servicesList .serviceItem .glowbtn:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}


.navbar .authentication button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
}

.navbar .authentication button::before {
    margin-left: auto;
}

.navbar .authentication button::after,
.navbar .authentication button::before {
    content: '';
    width: 0%;
    height: 1px;
    background: linear-gradient(90deg, rgb(185, 74, 255), rgb(255, 132, 145));
    display: block;
    transition: 0.5s;
}

.navbar .authentication button:hover::after,
.navbar .authentication button:hover::before {
    width: 100%;
}