.box1 {
    top: 30%;
    left: -20px;
    height: 30%;
    width: 10%;
    min-width: 100px;
    padding: 1px;
    z-index: 5;
}

.box2 {
    bottom: 10px;
    left: 5%;
    height: 30%;
    width: 15%;
    min-width: 150px;
    padding: 1px;
    z-index: 5;
}

.box3 {
    top: -5px;
    right: -15px;
    height: 20%;
    width: 10%;
    min-width: 85px;
    padding: 1px;
    z-index: 5;
}

.box4 {
    top: 70%;
    right: -35px;
    height: 35%;
    width: 15%;
    padding: 1px;
    z-index: 5;
}

.rotatingDiv {
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgb(229, 99, 255), rgb(229, 99, 255), rgb(104, 255, 255), rgb(104, 255, 255), rgb(104, 255, 255), rgb(229, 99, 255), rgb(229, 99, 255));
    animation: rotate 7s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width : 800px) {
    .box2 {
        height: 30%;
    }

    .box3 {
        height: 30%;
    }
}