* {
    margin: 0;
    padding: 0;
}

#contact,
#RequestNewFeature {
    margin-top: 100px;
}

#contact .heading,
#RequestNewFeature .heading {
    /* font-size: 50px; */
    /* font-weight: 700; */
    letter-spacing: 1px;
    background-image: linear-gradient(45deg, aqua, #952bff, #ff669e, #952bff, aqua);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: textBackground 12s linear 0s infinite;
}

#contact .contactForm,
#RequestNewFeature .contactForm {
    width: 50%;
    padding: 1px;
    position: relative;
    background-color: red;
    margin: 20px 0px;
}

#contact .contactForm form .formContent,
#RequestNewFeature .contactForm form .formContent {
    width: 70%;
}

#contact .contactForm form label,
#RequestNewFeature .contactForm form label {
    font-size: medium;
    color: white;
}

#contact .contactForm form input,
#contact .contactForm form textarea,
#RequestNewFeature .contactForm form input,
#RequestNewFeature .contactForm form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 600;
    background: rgb(255, 249, 228);
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px 0px;
}

#contact .contactForm form textarea,
#RequestNewFeature .contactForm form textarea {
    min-height: 100px;
    max-height: 200px;
    scrollbar-width: thin;
    scrollbar-color: rgb(214, 202, 158) rgb(255, 249, 228);
}

#contact .contactForm form button,
#RequestNewFeature .contactForm form button {
    background-color: red;
    border: 0;
    outline: 0;
    padding: 1px;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 100ms ease;
}

#contact .contactForm form button::before,
#RequestNewFeature .contactForm form button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    background-image: linear-gradient(45deg, rgb(201, 173, 255), rgb(201, 173, 255), rgb(133, 247, 255), rgb(201, 173, 255), rgb(172, 249, 255), rgb(201, 173, 255), rgb(201, 173, 255));
    background-size: 600% 200%;
    animation: animateBtnBg 20s linear 0s infinite;
}

#contact .contactForm::before,
#RequestNewFeature .contactForm::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(90deg, rgb(107, 255, 255), rgb(107, 255, 255), rgb(140, 173, 255), rgb(255, 132, 255), rgb(255, 132, 255), #9b19ff, rgb(107, 255, 255), rgb(107, 255, 255));
    background-size: 400%;
    animation: boxshadowAnimate 25s linear 0s infinite;
}

#contact .relatedContent,
#RequestNewFeature .relatedContent {
    width: 80%;
    text-align: center;
    margin: 10px 0px;
    font-size: large;
    font-weight: 400;
    color: beige;
}

@media only screen and (max-width : 1000px) {

    #contact .contactForm form .formContent,
    #RequestNewFeature .contactForm form .formContent {
        width: 80%;
    }
}

@media only screen and (max-width : 900px) {

    #contact .contactForm,
    #RequestNewFeature .contactForm {
        width: 65%;
    }

    #contact .contactForm form .formContent,
    #RequestNewFeature .contactForm form .formContent {
        width: 80%;
    }
}

@media only screen and (max-width : 650px) {

    #contact .contactForm,
    #RequestNewFeature .contactForm {
        width: 75%;
    }
}

@media only screen and (max-width : 480px) {
    #contact .contactForm,
    #RequestNewFeature .contactForm {
        width: 90%;
    }
    #contact .contactForm form .formContent,
    #RequestNewFeature .contactForm form .formContent {
        width: 90%;
    }
}

@media only screen and (max-width : 400px) {}

@media only screen and (max-width : 900) {}